.About__main {
  width: 100%;
  min-height: 150vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats__section {
  width: 76vw;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats__section__up {
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.stats__section__left {
  margin-top: 7%;
  width: 42%;
  height: 43vh;
  background: rgba(3, 3, 3, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}
.stats__section__left h4{
  font-family: robert;
  color: #DFDFF2;
}

.stats__section__left h1{
  margin-top: 20%;
  font-family: zentry;
  font-size: 10vw;
  color: #DFDFF2;
}
.stats__section__right {
  height: 90vh;
  width: 42%;
  background-color: #15FF9E;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}
.stats__section__right h4{
  font-family: robert;
}
.stats__section__right h1{
  font-family: zentry;
  font-size: 10vw;
}
.stats__section__down {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
