.Frames__parent {
  height: 450vh;
  width: 100%;
  position: relative;
}

.Frames__children {
  width: 100%;
  height: 100vh;
  position: sticky;
  left: 0%;
  top: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: black;
}

.FrameImages {
  object-fit: cover;
}

.frames__components {
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
