* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: tobias;
  src: url("./fonts/Tobias-Light.ttf");
}
@font-face {
  font-family: FK;
  src: url(./fonts/FK-Screamer.ttf);
}
@font-face {
  font-family: longbold;
  src: url(./fonts/longbold.ttf);
}
@font-face {
  font-family: medium;
  src: url(./fonts/Medium.otf);
}
@font-face {
    font-family: zentry;
    src: url(./fonts/ZENTRY-Regular.ttf);
  }
  