.framesOne__main {
  height: 100%;
  width: 100%;
}
.framesOne__heading {
  overflow: hidden;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 8%;
}

.framesOne__heading h1 {
  font-family: fk;
  color: #4b0082;
  
  line-height: 88%;
  z-index: 1;
  font-weight: 999;
  font-size: 20vw;
}
.framesOne__heading h2 {
  font-family: zentry;
  color: #9500ff;
  font-size: 1.2vw;
  text-align: center;
}
